<template>
  <div id="container" class="container">
    <div class="header header--big">Dodaj lek</div>
    <div class="container__form">
      <div class="container__information">
        <div class="element">
          <label for="drugTitle" class="container__title">
            Nazwa leku:
          </label>
          <div>
            <select
              name="drugTitle"
              id="drugTitle"
              v-model="drugTitle"
              form="dataForm"
              class="input"
            >
              <option value="Polocard">Polocard</option>
              <option value="Ketonal">Ketonal</option>
              <option value="Heviran">Heviran</option>
              <option value="Aspiran">Aspiran</option>
            </select>
          </div>
        </div>
        <div class="element element__hours">
          <label class="container__title">Godzina: </label>
          <div>
            <label for="drugMorning">8:00</label>
            <input
              type="checkbox"
              name="drugMorging"
              value="8"
              v-model="drugHour"
              class="input--checkbox"
            />
            <label for="drugAfternoon">15:00</label>
            <input
              type="checkbox"
              name="drugAfternoon"
              value="15"
              v-model="drugHour"
              class="input--checkbox"
            />
            <label for="drugEvening">22:00</label>
            <input
              type="checkbox"
              name="drugEvening"
              value="22"
              v-model="drugHour"
              class="input--checkbox"
            />
          </div>
        </div>
        <div class="element">
          <label for="drugDate" class="container__title">Data: </label>
          <div>
            <input
              type="date"
              name="drugDate"
              v-model="drugDate"
              class="input"
            />
          </div>
        </div>
        <div class="element">
          <label for="drugAmount" class="container__title">Ilość: </label>
          <div>
            <input
              name="drugAmount"
              type="number"
              min="0"
              v-model="drugAmount"
              class="input"
            />
          </div>
        </div>
        <div class="element">
          <label for="ward" class="container__title">Oddział: </label>
          <div>
            <select
              name="ward"
              id="ward"
              v-model="ward"
              form="dataForm"
              class="input"
            >
              <option value="kardiologia">Kardiologia</option>
              <option value="okulistyka">Okulistyka</option>
              <option value="chirurgia">Chirurgia</option>
            </select>
          </div>
        </div>
      </div>
      <div class="center header header--medium">Pacjent</div>
      <div class="container__patient">
        <div class="element">
          <label for="personName" class="container__title">Imię: </label>
          <div>
            <input
              type="text"
              name="personName"
              v-model="personName"
              class="input"
            />
          </div>
        </div>
        <div class="element">
          <label for="personSurname" class="container__title">Nazwisko: </label>
          <div>
            <input
              type="text"
              name="personSurname"
              v-model="personSurname"
              class="input"
            />
          </div>
        </div>
        <div class="element">
          <label for="personId" class="container__title">Pesel: </label>
          <div>
            <input
              type="text"
              name="personId"
              v-model="personId"
              class="input"
            />
          </div>
        </div>
      </div>
    </div>
    <button v-on:click="isValid" class="container__button">Dodaj</button>
    <div class="error">{{ error }}</div>
    <div class="container__card">
      <Card
        v-for="item of planner"
        :key="item.id"
        :item="item"
        :hours="item.hour"
        @clicked="deleteItem"
      />
    </div>
  </div>
</template>
